html, body {
	position: relative;
	width: 100%;
  height: 100%;
  
  --color-white: white;
  --color-black: black;
  --color-light-grey: #f9f9f9;
  --color-grey: #cbcbcb;
  --color-blue: #4b587b;
  --color-turquoise: rgba(41, 177, 204, 1);
  --color-turquoise-opacity: rgba(41, 177, 204, 0.3);
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}